@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwind-scrollbar-hide";

@theme {
  --font-jakarta: "Plus Jakarta Sans";
  --color-utama: #3369ff;
  --color-second: #25c971;
  --color-third: #ef9127;
}

/* Kelas untuk text-box-trim */
@utility text-trim-both {
  text-box-trim: trim-both;
}

/* Kelas untuk text-box-edge (cap alphabetic) */
@utility text-edge-cap-alpha {
  text-box-edge: cap alphabetic;
}

/* Kelas shorthand (text-box) */
@utility text-box-trimmed {
  text-box: trim-both cap alphabetic;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
