@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwind-scrollbar-hide";

@theme {
  --font-jakarta: "Plus Jakarta Sans";
  --color-utama: #3369ff;
  --color-second: #25c971;
  --color-third: #ef9127;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
